body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.game-board .game-field {
  border-radius: 6px;
  width: 300px;
  height: 300px;
  padding: 5px;
}

.square {
  background-color: #28a745;
  margin: 5px;
  width: 90px;
  height: 90px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: realtive;

}

.navbar-text, .round {
  width: 100%;
}

.result {
background: #28a745;
width: 40px;
}

.result-number {
color: white;
text-align: center;
margin-bottom: 0px;
font-weight: bold;
}

.tic-tac-field {
background: #EEE;
}

.list-group-item {
  background: #EEE;
}

.game-field {
  background: white;
}

.next-player {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  border: 1px solid white;
}

.hide {
  display: none;
}

.active {
  display: display;
}

.square:hover {
  border: 3px solid #007bff;
}

.clicked {
  background: #007bff;
}

span.O {
  color: red;
  font-size: 50px;
  font-weight: bold;
}

span.X {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.modal-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.form-control {
  display: inline-block;
}