body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}


.hide {
  display: none;
}

.active {
  display: display;
}

.square {
  border: 1px solid black;
}

.statistic {
  border: 1px solid black;
}

.tic-tac-field {
  border: 1px solid black;
}

.col-sm-8 {
  border: 1px solid black;
}

.col-sm-4 {
  border: 1px solid black;
}